<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="gurpreet" connectionString="Data Source=SINGH-PC\SQLEXPRESS;Initial Catalog=gurpreet;Integrated Security=True"/>
		<add name="gurpreetConnectionString" connectionString="Data Source=SINGH-PC\SQLEXPRESS;Initial Catalog=gurpreet;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5" executionTimeout="104" maxRequestLength="1023451"/>
		<!--<httpRuntime targetFramework="4.5" executionTimeout="103" maxRequestLength="1023432" />-->
	</system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
</configuration>
